@font-face {
  font-family: Poppins;
  src: url("../../font/Poppins-Medium.ttf");
}
@font-face {
  font-family: Terminus;
  src: url("../../font/Terminus\ \(TTF\)\ 500.ttf");
}
@font-face {
  font-family: Terminus_Bold;
  src: url("../../font/Terminus\ \(TTF\)\ Bold\ 700.ttf");
}
@font-face {
  font-family: Terminus_Italic;
  src: url("../../font/Terminus\ \(TTF\)\ Italic\ 500.ttf");
}
@font-face {
  font-family: Terminus_Bold_Italic;
  src: url("../../font/Terminus\ \(TTF\)\ Bold\ Italic\ 700.ttf");
}
@font-face {
  font-family: chapbook;
  src: url("../../font/Chapbook.ttf");
}
@font-face {
  font-family: Bubblegum;
  src: url("../../font/Bubblegum.ttf");
}
@font-face {
  font-family: Hacked-KerX;
  src: url("../../font/Hacked-KerX.ttf");
}
@font-face {
  font-family: FiraCode-Regular;
  src: url("../../font/FiraCode/ttf/FiraCode-Regular.ttf");
}
@font-face {
  font-family: cardiuma-regular;
  src: url("../../font/cardiuma-regular.otf");
}
@font-face {
  font-family: Platonica;
  src: url("../../font/Platonica.otf");
}
@font-face {
  font-family: OnePiece-zAqL;
  src: url("../../font/OnePiece-zAqL.ttf");
}
@font-face {
  font-family: JlsdatagothicCnc-yyz3;
  src: url("../../font/JlsdatagothicCnc-yyz3.otf");
}
@font-face {
  font-family: ComicNeue-Regular;
  src: url("../../font/comic-neue-1.1/ComicNeue-Regular.ttf");
}
@font-face {
  font-family: BLOODSEEKER;
  src: url("../../font/BLOODSEEKER\ -\ DEMO.ttf");
}
@font-face {
  font-family: Poppins-Black;
  src: url("../../font/Poppins-Black.ttf");
}
